.favorite > p {
  color: pink;
}

.favorite > div {
  display: flex;
  flex-direction: column;
}

.favorite > div > .card {
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
}

.favorite > div > .button {
  margin: 0 10px;
  border-radius: 0 0 10px 10px;
  height: 30px;
  color: pink;
  font-weight: 600;
}